.container{
    border: 3px solid grey;
    width: 180px;
    padding: 20px;
}

.btn{
    border: none;
    outline: none;
    padding: 10px;
    cursor: pointer;
    background-color: #282c34;
    color: white;
    font-size: 18px;
    margin-top: 10px;
}