.container{
    display: flex;
    align-items: center;
    gap: 15px;
    padding-top: 10px;
    flex-direction: column;
    background-color: #282c34;
    height: 90px;
}

.wrap{
    display: flex;
    gap: 10px;
}
.btn{
    outline: none;
    border: none;
    background-color: #61dafb;
    padding: 0px 10px 0px 10px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
.item{
    color: white;
}
.count{
    display: flex;
    gap: 20px;
}