.container{
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    height: 130px;
    width: 170px;
    padding: 10px;
    justify-content: space-between;
}

.info{
    margin-top: 10px;
}

.item{
    color: white;
}
.btn{
    outline: none;
    border: none;
    padding: 0px 20px 0px 20px;
    background-color: darkslategrey;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
.item{
    outline: white;
}

.wrap{
    display: flex;
    flex-direction: column;

}