.container{
    border: 3px solid grey;
    padding: 5px;
    width: 120px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    text-align: center;
}
.btn{
    border: none;
    outline: none;
    padding: 10px;
    cursor: pointer;
    background-color: #282c34;
    color: white;
    font-size: 18px;
}