

.container{
    display: flex;
    border: 1px solid grey;
    padding: 20px;
    width: 240px;
    flex-direction: column;
    height: 120px;
    justify-content: space-between;
}

.btn{
    outline: none;
    border: none;
    padding: 0px 20px 0px 20px;
    background-color: darkslategrey;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
.item{
    color: white;
}
.details{
    color: lightgrey;
}