.btn {
    width: fit-content;
    border: none;
    outline: none;
    padding: 10px;
    cursor: pointer;
    background-color: #282c34;
    color: white;
    font-size: 18px;
    margin-top: 10px;
}
.photo{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.container{
    display: flex;
    flex-direction: column;
    margin:0 auto;
    justify-content: center;
    align-items: center;
}